html {
    /* background from https://uigradients.com/#MegaTron - note: this displays rotate 180 degrees from the website display  */
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#resultPhrase {
    color: black;
}

.link {
    color: black;
}

.display-none {
    display: none;
}
#link {
    font-size: 20px;
    
}